h1 {
	font-family: 'Cutive Mono', monospace;
	color: white;
	font-size: 17px;
	text-align: center;	
	text-decoration: none;
}

p {
	font-family: 'Cutive Mono', monospace;
	color: white;
	font-size: 17px;
	text-align: center;
	text-decoration: none;
}

body {
	height: 100%;
	width: 100%;
	background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url(images/fond.jpg);  	
	margin: 0px;
	padding: 0px;
	background-size: cover;
}
.main {
	position: relative;
	height: 100%;
	width: 100%;

}
.informations {
	bottom: 0;
	text-align: center;	
}
.informations a {
	text-decoration: none;
	color: white;
}
.informations a:hover {
	text-decoration: none;
	color: white;
}
.logo {
	position: absolute;
	top: 150px;
	left: 45px;
}


